:root {
  --bg: #FCFAF0;
  --bg2: #ebeff3;
  --bg3: #d4dff0;
  --fg: #1F4F98;
  --fg: #003399;
  --fg2: #6f81b2;
  --link: #98531f;
  --bc: #e4e9f0;
  --shadow: #00000033;
  --listfg: var(--bg);

  
  --g1: #ccc;
  --g2: #999;
  --g3: #0066ff;

  --g1: #ccc;
  --g2: #e3ce89;
  --g3: #0066ff;
  
  // grey yello blue
  // --g1: #999;
  // --g2: #777;
  // --g3: #1F4F98;

  // grey - green
  // --g1: #ccc;
  // --g2: #d0b251;
  // --g3: #549400;
  
  // red orange green
  // --g1: #e43b3b;
  // --g2: #ffbf1f;
  // --g3: #2e9000;

   // red - grey = neutral to danger
  // --g1: #e43b3b;
  // --g2: #ca9040;
  // --g3: #12325d;
  // --g3: #0066ff;

   --g1: #e43b3b;
  --g2: #979797;
  --g3: #0066ff;

  // --g1: #e43b3b;
  // --g2: #979797;
  // --g3: #003399;

  // dark
  &.dark {
  --bg: #1d222c;
  --bg2: #252933;
  --bg3: #171c24;
  --fg: #b7c1cf;
  --fg: #cfdae8;
  --fg: #cecdc2;
  --fg2:#636d7f;
  --link: #fae7a8;
  --bc: #2a3449;
  --shadow: #00000033;
  --listfg: #dee5eb;
  }

  --width: 76rem;
  --maxwidth: calc(100% - 4rem);
  --pwidth: 32rem;
}
